/*color scheme*/

:root{
	--title-color:#CA9638;
	--title-shadow:white;
    --author:blue;
    --menuback:#1A1A1C;
    --menuitem:#D2CB90 ;
    --background:#CA9638;
    --buttons:#D2CB90;
    --date:blue;
}

body {
	background-color: #CA9638;
}


#container{
   background-color: var(--background);
}

#title{
	color: var(--title-color);
	background-color: var(--menuback);
	border-radius: 2em;
	padding: 1px 10px;
  text-shadow:5px 1px var(--title-shadow);
    
}

#login *, #sign-up *,#post *{
   
}

#posts{
    
}



#menu{
   background-color: var(--menuback);

}

#menu a{
      color:var(--menuitem) ;
}

#menu a:hover{
	color: var(--menuback);
    background-color: var(--menuitem);
    transition: .5s;
    border-radius: 2em;
    padding: 5px 10px;
    text-shadow: 5px 1px var(--title-shadow);
    
}

#write-post{
	
}

.post{
   border-bottom: 2px solid var(--title-shadow); 
}

.post-text{
  
}

.author{
	text-decoration: underline;
  color: var(--author);
}

.date{
  color:var(--date);
}

#write-post{
    
}

#submit-post {
    background-color: var(--buttons);
}

#submit-sign-up{
    background-color: var(--buttons);
}

#submit-login{
    background-color: var(--buttons);
 }

